<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CLIENT_ID</key>
  <string>781325465794-s811qagpli7g8vore9mbdqr4593m8i6m.apps.googleusercontent.com</string>
  <key>REVERSED_CLIENT_ID</key>
  <string>com.googleusercontent.apps.781325465794-s811qagpli7g8vore9mbdqr4593m8i6m</string>
  <key>PLIST_VERSION</key>
  <string>1</string>
  <key>BUNDLE_ID</key>
  <string>com.hardik.Strengthsheet</string>
  <key>GIDClientID</key>
  <string>781325465794-s811qagpli7g8vore9mbdqr4593m8i6m.apps.googleusercontent.com</string>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>com.googleusercontent.apps.781325465794-s811qagpli7g8vore9mbdqr4593m8i6m</string>
      </array>
    </dict>
  </array>
</dict>
</plist>